<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listrak.samplemobilestore">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.listrak.samplemobilestore.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.ProductListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".views.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.listrak.samplemobilestore.views.ProductListActivity" />
        </activity>
        <activity android:name=".views.CartActivity" />
        <activity android:name=".views.AccountActivity" />
        <activity android:name=".views.CheckoutActivity"></activity>
    </application>

</manifest>